.containerImg {
	display: flex;
	margin-top: 0.5rem;
	flex-direction: column;
	width: 11rem;
	height: 11rem;
	align-items: center;
	border: 0.1rem solid #2a4c76;
	border-radius: 1rem;
	button {
		cursor: pointer;
		border: 0;
		background-color: transparent;
	}

	img {
		width: 6rem;
		height: 6rem;
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
}
