.details {
	overflow: hidden;
	margin-top: 0.2rem;
	background: #ededed;
	color: #333333;
	text-transform: capitalize;
	main {
		padding: 1rem;
	}
}

.details .summary {
	display: block;
	cursor: pointer;
	padding: 0.5rem;
	background: #ededed;
	color: #2b2b2b;
	text-align: center;
}

.details[open] .summary {
	border: 1px solid var(--primary-color);
	background: var(--secondary-color);
	color: #ffffff;
}
