.container {
	border: 0.1rem solid #eee;
	border-radius: 1rem;
	margin: 0.5rem;
	width: 100%;
	width: 9rem;
	height: 9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	img {
		width: 5rem;
		height: 5rem;
		filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8));
	}
	h2 {
		font-size: medium;
	}
}

.containerHover:hover {
	background-color: #ddd;
}

.pointer:hover {
	cursor: pointer;
}

.black {
	color: black;
}
