.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

.container {
	background-color: #ccc;
	color: black;
	max-width: 60rem;
	width: 65%;
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	min-height: 40.5rem;
}

.logo {
	width: 6rem;
	height: 6rem;
}
